<section id="construction-banner">
    This website is under construction. Please directly send all inquiries to <a href="mailto:racing@caltech.edu">racing@caltech.edu</a>.
</section>
<style>
    #construction-banner {
        text-align: center;
        font-size: 2rem;
        background-color: black;
        color: white;
        padding: 1rem 0;
        width: 100%;
    }
</style>