#hero {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto 100%;
    height: min-content;
    width: 100%;
    background-color: black;
}

#hero h1 {
    margin: 0;
    font-size: 80px;
    color: white;
    z-index: 100;
    text-align: center;
    grid-area: 1 / 1 / 2 / 2;
}

#hero p {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    margin: 0;
    width: 100%;
    height: 580px;
    overflow: hidden;
    object-fit: cover;
}

#hero p img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

